html, body {
    height: 99%;
}

.main-elements {
    position: relative;
    top: 19%;
    height: 35%
}

#main-logo {
    position: relative;
    left: 50%;
    top: 30%;
    margin-left: -136px;
    margin-bottom: 0px;
}

#search-bar {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 584px;
    height: 44px;
    margin: 0 auto;
    position: relative;
    left: 0%;
    bottom: -10%;
    margin-top: 0px;
}

#input-text-box {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 84%;
    background-color: transparent;
    border-width: 0px;
    border-bottom-color: transparent;
    position: relative;
    left: 5%;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#magnifying-glass {
    height: 18px;
    position: relative;
    left: 3%;
    top: 11%;
    margin: 0;
}

#microphone {
    height: 20px;
    position: relative;
    right: -6%;
    top: 12%;
}

#search-buttons {
    position: relative;
    height: 88px;
    top: 15%;
}

.main-buttons {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5f6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    position: relative;
    left: 42.5%;

}

.main-buttons:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
    background-color: #f8f8f8;
    color: #222;
    border: 1px solid #c6c6c6;

}

#left-main-button {

}

#right-main-button {

}