html, body {
    height: 99%;
}

.main-elements {
    position: relative;
    top: 19%;
    height: 35%
}

#main-logo {
    position: relative;
    left: 50%;
    top: 30%;
    margin-left: -136px;
}

#search-bar {
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    width: 584px;
    height: 44px;
    margin: 0 auto;
    position: relative;
    left: 0%;
    bottom: -10%;
}

#input-text-box {
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 84%;
    background-color: transparent;
    border-width: 0px;
    border-bottom-color: transparent;
    position: relative;
    left: 5%;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}

#magnifying-glass {
    height: 18px;
    position: relative;
    left: 3%;
    top: 11%;
    margin: 0;
}

#microphone {
    height: 20px;
    position: relative;
    right: -6%;
    top: 12%;
}